.recipe-listSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-listContainer{
  background-color: var(--purple);
  padding: 15px 0px;
  height: 100vh;
  /* width: auto; */
  box-shadow: 1px 6px 5px -4px rgba(71, 71, 71, 0.75);
  overflow-y: auto;
}

.recipe-nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.recipe-username{
  text-align: bottom;
  font-size: 2rem;
}

.recipe-settingsButton{
  border: none;
  background-color: transparent;
}

.recipe-settingsIcon{
  max-width: 25px;
}

.recipe-settingsIcon:hover{
  transform: rotate(135deg);
  transition: 1s;
  cursor:pointer;
}

.recipe-navOptions{
  border-bottom: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.recipe-addRecipeBtn{
  padding-left: 15px;
  padding-right: 15px;
  width: 20vw;
  font-size: 3rem;
  text-align: center;
  transition: .5s;
  border: 1px solid black;
  border-radius: 8px;
}

.recipe-addRecipeBtn:hover{
  background-color: var(--orange);
}

.recipe-recipes{
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
}

.recipe-recipeElement{
  background-color: var(--orange);
  padding: 15px;
  font-size: 1.4rem;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.recipe-selectedRecipe{
  background-color: var(--gray);
}

.recipe-elementBtnContainer{
  display: flex;
  gap: 10px;
}

.recipe-elementEditBtn{
  border: none;
  background-color: var(--gray);
}

.recipe-elementDeleteBtn{
  border: none;
  background-color: var(--gray);
  height: 40px;
  width: auto;
}

.recipe-editRecipeName{
  height: 30px;
  width: 125px;
  position: absolute;
  outline: none;
}

.recipe-elementEditImg{
  max-width: 25px;
}

.recipe-elementDeleteImg{
  max-width: 29px;
  transition: .15s;
}

.recipe-elementEditImg:hover{
  filter: invert(60%) sepia(10%) saturate(398%) hue-rotate(13deg) brightness(94%) contrast(86%);
  cursor: pointer;
}

.recipe-elementDeleteImg:hover{
  filter: invert(34%) sepia(85%) saturate(1438%) hue-rotate(350deg) brightness(88%) contrast(97%);
  cursor: pointer;
}