*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ################## Login Page ################# */


.login-container{
  display: flex;
  height: 100vh;
}

.login-img{
  height: auto;
  width: 40vw;
}

.login-contentContainer{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #fbaf59,#f0b480);
  width: 60vw;
}

.login-formContainer{
  background-color: #e1e2e6;
  padding: 30px;
  box-shadow: 1px 10px 5px -4px rgba(71, 71, 71, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 45vh;
  
}

.login-formHeader{
  border-bottom: 2px solid black;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 1.1rem;
  max-width: 420px;
}

#login-form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-left: 2px solid black;
  height: 280px;
  padding: 25px;
}

.login-formText{
  font-size: 2.4rem;
}

.login-inputContainer{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

#username, #password, #confirmPassword{
  outline: none;
}

.login-text{
  height: 200px;
  font-size: 2.5rem;
  padding: 25px 25px 0px 25px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.login-logo{
  height: auto;
  width: 100px;
}

.login-bottomContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  gap: 15px;
  font-size: 1.3rem;
}

.login-button{
  padding: 15px 5px;
  max-width: 225px;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 5px;
}

.login-bottomText{
  font-size: 1.7rem;
}

@media (max-width: 700px){
  .login-img{
    height: 0px;
    width: 0px;
  }

  .login-contentContainer{
    width: 100vw;
  }

  .login-formText{
    font-size: 2.1rem;
    padding-right: 20px;
  }

  .login-bottomContent{
    align-items: center;
  }

  .login-button{
    padding: 20px 30px;
  }

}