*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --gray: #e9ebf8;
  --orange: #d8ab78;
  --lightorange: #efcba1;
  --darkblue: #617bb9;
  --lightpurple: #cdb7ca;
  --purple: #cfc7cd;
  --darkpurple: #76326e;
  --lightblue: #449DD1;
  --green: #8ac7b9;
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main{
  display: flex;
  height: 100vh;
  width: auto;
  background-color: var(--darkpurple);
  gap: 10px;
}

/* ################## Settings Panel ################# */

.settings-settingsContainer{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  animation: settingSlide 0.5s;
}

@keyframes settingSlide{
  from {right: 24.5vw}
  to {right: 0vw}
}

.settings-panel{
  width: 21.5vw;
  background-color: rgb(94, 91, 91);
  display: flex;
  flex-direction: column;
}

.settings-clearSection{
  width: 75.5vw;
  background-color: transparent;
}

.settings-buttonContainer{
  display: flex;
  justify-content: end;
}

.settings-closePanelButton {
  height: 25px;
  width: 30px;
}

.settings-settingsList{
  display: flex;
  flex-direction: column;
}

.settings-settingsList > *{
  font-size: 1.4rem;
  color: white;
  padding: 10px;
  list-style: none;
}

/* ################## Nav ################# */

.recipe-listSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.recipe-listContainer{
  background-color: var(--purple);
  padding: 15px 0px;
  border-radius: 0px 8px 8px 0px;
  height: 100vh;
  /* width: auto; */
  box-shadow: 1px 6px 5px -4px rgba(71, 71, 71, 0.75);
  overflow-y: auto;
}

.recipe-nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.recipe-username{
  text-align: bottom;
  font-size: 2rem;
}

.recipe-settingsButton{
  border: none;
  background-color: transparent;
}

.recipe-settingsIcon{
  max-width: 25px;
}

.recipe-settingsIcon:hover{
  transform: rotate(135deg);
  transition: 1s;
  cursor:pointer;
}

.recipe-navOptions{
  border-bottom: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.recipe-addRecipeBtn{
  padding-left: 15px;
  padding-right: 15px;
  width: 20vw;
  font-size: 3rem;
  text-align: center;
  transition: .5s;
  border: 1px solid black;
  border-radius: 8px;
}

.recipe-addRecipeBtn:hover{
  background-color: var(--orange);
  
}

.recipe-recipes{
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
}

.recipe-recipeElement{
  background-color: var(--orange);
  padding: 15px;
  font-size: 1.4rem;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.recipe-selectedRecipe{
  background-color: var(--gray);
}

.recipe-elementBtnContainer{
  display: flex;
  gap: 10px;
}

.recipe-elementEditBtn{
  border: none;
  background-color: var(--gray);
}

.recipe-elementDeleteBtn{
  border: none;
  background-color: var(--gray);
  height: 40px;
  width: auto;
}

.recipe-editRecipeName{
  height: 30px;
  width: 125px;
  position: absolute;
  outline: none;
}

.recipe-elementEditImg{
  max-width: 25px;
}

.recipe-elementDeleteImg{
  max-width: 29px;
  transition: .15s;
}

.recipe-elementEditImg:hover{
  filter: invert(60%) sepia(10%) saturate(398%) hue-rotate(13deg) brightness(94%) contrast(86%);
  cursor: pointer;
}

.recipe-elementDeleteImg:hover{
  filter: invert(34%) sepia(85%) saturate(1438%) hue-rotate(350deg) brightness(88%) contrast(97%);
  cursor: pointer;
}

/* ################## Recipe Steps ################# */

.recipe-stepsSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
}

.recipe-navContainer{
  display: flex;
  justify-content: space-around;
  position: sticky;
  margin-top: -20px;
  top: -20px;
  padding: 15px;
  background-color: var(--orange);
}

.recipe-stepsContainer{
  background-color: var(--purple);
  padding: 15px 0px;
  border-radius: 8px 0px 0px 8px;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 1px 6px 5px -4px rgba(71, 71, 71, 0.75);
}

.recipe-stepsTitle{
  text-align: center;
  padding-bottom: 20px;
}

.recipe-stepsInfo{
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
}

.recipe-stepInstructionContainer{
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  margin-bottom: 1px;
  width: 40vw;
}

.recipe-stepTitle{
  padding: 5px;
}

.recipe-stepBody{
  font-size: 1.5rem;
  padding: 5px 0px 15px 10px;
}

.recipe-addRecipeWrapper{
  display: flex;
  justify-content: start;
}

.recipe-addRecipeStep{
  padding: 10px 20px;
  font-size: 2rem;
}
/* ################## Ingedients Section ################# */

.recipe-ingredientsSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-ingredientsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1e2e6;
  padding: 15px 0px;
  border-radius: 8px;
  height: 95vh;
  box-shadow: 1px 6px 5px -4px rgba(71, 71, 71, 0.75);
  margin-right: 15px;
}
